body {
    text-align: center;
    margin: 30px auto;
    --mouse-x: 10px;
    --mouse-y: 320px;
}

#w1 {
    background-color: lightblue;
    color: white;
    background-color: #add8e6;
}
#w2 {
    background-color: white;
    color: lightblue;
}

.window {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 64px;
    height: 100%;
    width: 100%;
}
.window.open { 
    animation: open 0.75s cubic-bezier(0.5,0,0.5,1); 
}

.centeredContent {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}